body {
    margin: 0;
    background-color: #f5fdfc;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    background-image: url('/src/assets/images/taiwan-banner.jpg');
    background-size: cover;
    height: 450px;
    width: auto;
}

main {
    width: 100%;
}