// CUSTOM CLASSES USE BEM, INSTANTSEARCH CLASSES DON'T

// variables
$main-background-color: linear-gradient(to bottom, #73cac0, 50%, #8bccc4 100%);
$h2-font-size: 18px;

body {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  justify-content: center;
  background-image: url('/taiwan-banner.jpg');
  background-size: cover;
  height: 60vh;
  width: 100%;
}

#app div {
  width: 100%;
}

.suggest-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background: $main-background-color;
  box-shadow: 0 0 7px 0 rgba(0, 0 ,0 ,0.35);

  .suggest-bar__text {
    color: #fff;
    font-weight: bold;
  }

  .suggest-bar__text__link {
    text-decoration: none;
    color: #2c3e50;
  }
}

h1 {
  font-size: 32px;
  margin-top: 100px;
}

h1, h2, h3 {
  color: rgba(0, 0, 0, .88);
  text-align: center;
}

#searchbox-container {
  display: flex;
  justify-content: center;
}

#searchbox {
  width: 50% !important;
}

// search icon
.ais-SearchBox-form:before {
  margin-top: -4px;
}

.ais-SearchBox-input {
  font-size: 20px;
  height: 50px;
  border-radius: 500px;

  .ais-SearchBox-input:focus {
    border-color: #73cac0;
  }
}

.ais-SearchBox-resetIcon {
  margin-top: 8px;
}

.labels {
  grid-template-columns: 250px 1120px 150px 1fr;
  margin-top: 148px;
  padding-left: 22px;
  background: $main-background-color;
  color: #fff;

  .labels__text:nth-child(1) {
    grid-column: 1 / 2;
  }

  .labels__text:nth-child(2) {
    grid-column: 2 / 3;
  }

  .labels__text:nth-child(3) {
    grid-column: 3 / -1;
  }
}

#hits {
  
}

.ais-Hits-item {
  height: 100px;
}

.hit-container {
  display: grid;
  grid-template-columns: 250px 1120px 150px 1fr;
  font-size: 24px;
  font-weight: 500;

  /* traditional */
  .hit:nth-child(1) {
    grid-column: 1 / 2;
    margin-top: 15px;
  }

  /* pinyin */
  .hit:nth-child(2) {
    grid-column: 1 / 2;
    font-size: 18px;
    margin-top: 7px;
    color: #7b7d80;
  }

  /* definition */
  .hit:nth-child(3) {
    grid-column: 2 / 3;
    margin-top: -15px;
    font-size: 19px;
  }

  /* simplified */
  .hit:nth-child(4) {
    grid-column: 3 / -1;
    margin-top: -13px;
  }
}

/* highlighted word */
.ais-Highlight-highlighted {
  color: #1fa030;
}

.wotd {
  display: flex;
  justify-content: center;
}

.wotd__container {
  // margin-top: 182px;
  font-size: $h2-font-size;
  background-color: #f7f7f7;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30vh;
  width: 70vw;
  border-radius: 250px;
}

.wotd__translation {
  text-align: center;

  .wotd__translation__text:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
  }
}