// CUSTOM CLASSES USE BEM, INSTANTSEARCH CLASSES DON'T

$main-background-color: #5cbbf6;
$secondary-background-color: #2c3e50;
$h2-font-size: 18px;

// @keyframes pulse {
//   0% {
// 		transform: scale(0.75);
// 	}

// 	70% {
// 		transform: scale(1);
// 	}

// 	100% {
// 		transform: scale(0.75);
// 	}
// }

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

body {
  margin: 0;
  background-color: #f5fdfc;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  justify-content: center;
  background-image: url('/taiwan-banner.jpg');
  background-size: cover;
  height: 55vh;
  width: 100%;
  // display: none;
}

// .loader {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #73cac0;

//   .loader__circle {
//     width: 50px !important;
//     height: 50px;
//     border-radius: 50%;
//   }

//   .loader__circle:nth-child(1) {
//     background-color: #ffffff;
//     animation: pulse 2s infinite;
//   }

//   .loader__circle:nth-child(2) {
//     background-color: #eff0f0;
//     animation: pulse 3s infinite;
//   }
// }

#app div {
  width: 100%;
}

.suggest-bar {
  // display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background:rgba(0, 0, 0, 0);
  box-shadow: 0 0 7px 0 rgba(0, 0 , 0 , 0.35);
  transition: all 2s;
  animation: slide-down 1.5s;

  .suggest-bar__text {
    color: #fff;
    font-weight: bold;
  }

  .suggest-bar__link {
    text-decoration: none;
    color: #2c3e50;
  }
}

h1 {
  font-size: 32px;
  // margin-top: 100px;
}

h1, h2, h3 {
  color: rgba(0, 0, 0, .88);
  text-align: center;
}

#searchbox-container {
  display: flex;
  justify-content: center;
}

#searchbox {
  width: 50% !important;
}

// search icon
.ais-SearchBox-form:before {
  margin-top: -4px;
}

.ais-SearchBox-input {
  font-size: 20px;
  height: 50px;
  border-radius: 500px;

  .ais-SearchBox-input:focus {
    border-color: #73cac0;
  }
}

.ais-SearchBox-resetIcon {
  margin-top: 8px;
}

.labels {
  grid-template-columns: 250px 1075px 150px 1fr;
  margin-top: 148px;
  padding-left: 22px;
  background: $main-background-color;
  color: #fff;

  .labels__text:nth-child(1) {
    grid-column: 1 / 2;
  }

  .labels__text:nth-child(2) {
    grid-column: 2 / 3;
  }

  .labels__text:nth-child(3) {
    grid-column: 3 / -1;
  }
}

#hits {
  
}

.ais-Hits-item {
  height: 100px;
}

.hit-container {
  display: grid;
  grid-template-columns: 250px 1075px 150px 1fr;
  font-size: 24px;
  font-weight: 500;

  /* traditional */
  .hit:nth-child(1) {
    grid-column: 1 / 2;
    margin-top: 15px;
    font-size: 18px;
  }

  /* pinyin */
  .hit:nth-child(2) {
    grid-column: 1 / 2;
    font-size: 18px;
    margin-top: 7px;
    color: #7b7d80;
  }

  /* definition */
  .hit:nth-child(3) {
    grid-column: 2 / 3;
    margin-top: -15px;
    font-size: 19px;
  }

  /* simplified */
  .hit:nth-child(4) {
    grid-column: 3 / -1;
    margin-top: -13px;
    font-size: 18px;
    display: block;
  }
}

/* highlighted word */
.ais-Highlight-highlighted {
  color: #1fa030;
}

// .secondary-content::before {
//   content: '';
//   background: url('/taipei.jpg');
//   background-size: cover;
//   opacity: 0.75;
//   // position: absolute;
//   top: 0;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
// }

.secondary-content {
  display: flex;
  align-items: center;
  height: 60vh;
}

.wotd {
  display: flex;
  justify-content: center;
  align-items: center;

  .wotd__container {
    font-size: $h2-font-size;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30vh;
    width: 45vw;
    border-radius: 250px;
  }
  
  .wotd__translation {
    text-align: center;
  
    .wotd__text:nth-child(1) {
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.form {
  display: flex;
  justify-content: center;

  .form__container {
    width: 45vw;
    height: 50vh;
    border-radius: 200px;
    padding-bottom: 10px;
  }

  .form__header {
    margin-left: 29px;
  }

  .form__paragraph {
    text-align: center;
  }

  .form__container div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .form__label {
    margin-left: 12px;
  }

  .form__input {
    padding: 5px;
    margin: 5px;
    height: 25px;
    font-size: 20px;
    border-radius: 500px;
    border: 2px #d7dbdb solid;
  }

  .form__input:focus {
    border-color: #5cbbf6;
    caret-color: #2c3e50;
  }

  // .form__input:nth-child(4) {
  //   width: 30vw;
  //   font-size: 40px;
  // }

  .form__btn {
    margin-top: 20px;
    margin-left: 8px;
    background-color: $main-background-color;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 7px;
    color: #fff;
  }

  .form__btn:hover {
    cursor: pointer;
    background-color: #1d9bf0;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background-color: $secondary-background-color;
  margin-top: 100px;
  color: #fff;
}